@font-face {
  font-family: 'iconfont';  /* project id 1342756 */
  src: url('//at.alicdn.com/t/font_1342756_pzs18s9m0f.eot');
  src: url('//at.alicdn.com/t/font_1342756_pzs18s9m0f.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1342756_pzs18s9m0f.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1342756_pzs18s9m0f.woff') format('woff'),
  url('//at.alicdn.com/t/font_1342756_pzs18s9m0f.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1342756_pzs18s9m0f.svg#iconfont') format('svg');
}
.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.tj-icon {
  position: relative;
  display: inline-block;
  font: normal normal normal 14px/1 'iconfont';
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.tj-icon-call-phone:before {
  content: '\e649';
}
.tj-icon-yes:before {
  content: '\e604';
}
.tj-icon-share:before {
  content: '\e632';
}
.tj-icon-comment:before {
  content: '\e62f';
}
.tj-icon-video-play:before {
  content: '\e615';
}
.tj-icon-video-stop:before {
  content: '\e6ad';
}
.tj-icon-phone:before {
  content: '\e613';
}
.tj-icon-back:before {
  content: '\ec45';
}
.tj-icon-dagou:before {
  content: '\e603';
}
.tj-icon-touxiang:before {
  content: '\e699';
}
.tj-icon-search:before {
  content: '\e60e';
}
.tj-icon-ok:before {
  content: '\e603';
}
.tj-icon-cancel:before {
  content: '\e64e';
}
.tj-icon-write:before {
  content: '\e62e';
}
.tj-icon-sort:before {
  content: '\e75b';
}
.tj-icon-checked:before {
  content: '\e6c2';
}
.tj-icon-no-checked:before {
  content: '\e6c3';
}
